pruebas.py
Part 4 - Fashion-MNIST (Solution).ipynb
pruebas.ipynb
modelo_entrenado.pth
modelo_entrenado2.pth
helper.py
modelo_entrenado_70.pth
Part 5 - Inference and Validation (Solution).ipynb
modelo_overfitting_70.pth